KA_ENV=dev
KA_VAULT_PATH=<LOCAL_VAULT_PATH>
KA_VAULT_ALLOWED_PATHS=["01-inbox/agent-runs"]
KA_RUNTIME_PATH=<LOCAL_RUNTIME_PATH>
KA_OPENAI_MODEL_AGENT_1=gpt-5.6-terra
KA_OPENAI_MODEL_AGENT_2=gpt-5.6-terra
KA_OPENAI_MODEL_AGENT_3=gpt-5.6-terra
KA_OPENAI_REASONING_AGENT_1=low
KA_OPENAI_REASONING_AGENT_2=medium
KA_OPENAI_REASONING_AGENT_3=medium
KA_OPENAI_EMBEDDING_MODEL=text-embedding-3-small
KA_OPENAI_API_KEY=<SET_FOR_LIVE_ONLY>
KA_QDRANT_URL=http://127.0.0.1:6333
KA_AWS_REGION=us-east-1
KA_AWS_PROFILE=<SET_FOR_LIVE_ONLY>
KA_SQS_QUEUE_URL=<SET_FOR_LIVE_ONLY>
KA_LAMBDA_FUNCTION_URL=<SET_FOR_LIVE_ONLY>
KA_LANGFUSE_HOST=https://cloud.langfuse.com
KA_LANGFUSE_PUBLIC_KEY=<SET_FOR_LIVE_ONLY>
KA_LANGFUSE_SECRET_KEY=<SET_FOR_LIVE_ONLY>
KA_NOTEBOOKLM_NODE_EXECUTABLE=node
KA_NOTEBOOKLM_PROXY_PATH=<LOCAL_MCP_PROXY_PATH>
KA_NOTEBOOKLM_RUNTIME_PACKAGE_JSON=<LOCAL_MCP_PACKAGE_JSON>
KA_NOTEBOOKLM_DATA_DIR=<LOCAL_MCP_DATA_DIR>
KA_NOTEBOOKLM_REGISTRY_STATUS=evaluating
KA_NOTEBOOKLM_SUPERVISED=true
